html, body{
    overflow-x:hidden;
}

.banner{
    position:relative;
    background: url('bannerimage.jpg') no-repeat center;
    width:100%;
    height:720px;
 
}


.bannerlogo{  
    width:350px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:175px;
    margin-bottom:125px;
    

}
#navbar2{
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    display:none;
}
#navbar{
    z-index: 1000;
    display:block;
}
.nav{
    height:70px;
    overflow:hidden;
    animation: slideFromRight 2s;
   
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background:rgba(0, 0, 0, .7);
    
    
}


/* .service-stick-mode{
    padding-top:70px;
    
    
   } */

/* .sticky + #content {
    margin-top:70px;
} */

.nav-link{
    font-family: 'Mxontserrat', sans-serif;
    font-weight:300;
    font-size:20px;
    color:white;
    letter-spacing: 1px;
    padding-top:20px;
    
}
.nav-item{
    margin-right:50px;
    
}
.nav-item:last-child{
    margin-right:0;
}
.nav-item:first-child{
    margin-left:25px;
}
.nav-link:hover{
    border-bottom: solid 1px rgb(251, 176, 59);
    padding-bottom:15px;
    color:rgb(251, 176, 59);
}


.fa-home{
    color:rgb(251, 176, 59);
    

}
.fa-home:hover{
    color:rgb(255, 255, 255);
    border-bottom-color: white;
}
.bannerpt2{
    height:80px;
    background:rgb(12, 12, 12);
    
    
}
.homespace{
    margin-top:20px;
}

.phoneemail{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color: rgb(56, 81, 143);
    padding-top:20px;
    font-size:30px;
    animation: slideFromLeft 2s;
}
.phoneemail a{
    color:rgb(77, 84, 100);
    text-decoration: none;
}
.phoneemail a:hover{
    border-bottom: solid 1px rgb(87, 116, 187);
    text-decoration: none;
    color:rgb(87, 116, 187);
}
.vl{
    border-left: solid 2px rgb(77, 84, 100);
    margin-left:30px;
    margin-right:30px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    font-size:35px;
}
.divider{
    background:black;
    margin-bottom:30px;
}
.servicestitle{
    margin-top:120px;
    margin-bottom:20px;
}

.pricingtitle{
    margin-top:120px;
    margin-bottom:20px;
}

.boxelement{
    width:300px;
    height:300px;
}
.second{
    margin-top:-150px;
}
.third{
    margin-top:-150px;
}
.servicesparagraph{
    font-size:19px;
    animation: fadeEffect 2s;
}
.darkwrapper{
    background:rgb(17, 17, 17);
    
}
.forpricinggohere{
    
    float:right;
}
.pricesparagraph{
    color:white;
    font-size:20px;
    font-family: 'Questrial', 'Montserrat', sans-serif
}
.pricescheckout{
    color:rgb(251, 176, 59);
    font-size:18px;
}
.btn{
    color:white;
    background:rgb(251, 176, 59);
    border:solid 1px rgb(251, 176, 59);
    border-radius:40px;
    padding: 15px 25px;
    font-size:20px;
    font-family: 'Questrial', 'Montserrat', sans-serif
}
.btn:hover{

    background:rgb(190, 127, 24);
    border:solid 1px rgb(251, 176, 59);
    border-radius:40px;
    padding: 15px 25px;
    font-size:20px;
    text-decoration: underline;
    text-decoration-color: white;
    color:white;
}
.pricebtn a{
    color:white;
    text-decoration-color: white;
}

form{
    font-family: 'Questrial', 'Montserrat', sans-serif;
    font-size:18px;
    color:rgb(233, 200, 140);
}
.btn{
    color:white;
    background:rgb(251, 176, 59);
    border:solid 1px rgb(251, 176, 59);
    border-radius:40px;
    padding: 15px 25px;
    font-size:20px;
    font-family: 'Questrial', 'Montserrat', sans-serif;
}
.whatlookingfor{
    font-size:16px;
    color:rgb(233, 200, 140);
    margin-bottom:5px;
}

.noteffected{
    color:white;
}
.what-tabs{
    padding:100px 30px;
    position: static;
}

.divider2{
    background:rgb(251, 176, 59);
    margin-bottom:80px;
}

.commentsquestions{
    word-wrap: wrap;
    padding:20px;
    position: static;
}
.form{
    display:none;
}
.portfolioimages1{
    padding-top:100px;
    position:relative;
    

}
.stripe{
    position:absolute;
    background: rgb(11, 22, 49);
    height:125px;
    margin-top:180px;


}

.portfoliotitle{
    margin-top:80px;

}
.portfolioimages2{
    padding-top:100px;
    position:relative;
    

}
.portfolioimg{
    width:275px;
    height:300px;
    border: solid 1px black;
}
.portdescript{
    margin-top:50px;
    color:black;
    font-size:20px;
    font-family: 'Questrial', 'Montserrat', sans-serif
}
.portdescript2{
    margin-top:100px;
    color:black;
    font-size:20px;
    font-family: 'Questrial', 'Montserrat', sans-serif
}
.highlight2{
    color:#CE1126;
}

.portdescript3{
    margin-top:100px;
    color:black;
    font-size:20px;
    font-family: 'Questrial', 'Montserrat', sans-serif;
}
.aboutustitle{
    margin-top:80px;
}

.aboutusdescript{
    color:white;
    padding:100px 100px 20px 100px;
    font-family: 'Questrial', 'Montserrat', sans-serif;
    font-size:25px;
    line-height:1.5;

}
.divider3{
    background:rgb(251, 176, 59);
    
    margin-bottom:80px;
    width:71%;


}
.aboutusimg{
    width:100%;
}

.contacttitle{
    margin-top:80px;
}
.contactdescript{
    color:rgb(12, 12, 12);
    
    font-family: 'Questrial', 'Montserrat', sans-serif;
    font-size:25px;
    
}
.contactformlabels{
    color:rgb(12, 12, 12);
    font-size:20px;
    line-height:0;
    margin-left:5px;
}
.contactforminput{
    border-color: rgb(251, 176, 59);
    border-radius: 30px;
    border-style: solid;
    padding:10px 30px 10px 30px;
    margin-bottom:50px;
    
}
.contactdescript2{
    color:rgb(12, 12, 12);
    
    font-family: 'Questrial', 'Montserrat', sans-serif;
    font-size:25px;
}
#contactcommentsquestions{
    border-color: rgb(251, 176, 59);
    border-radius: 10px;
    border-style: solid;
    margin-top:5px;
    border-width: 2px;
}
*:focus {
    outline: none;
}
.contactphone{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color: black;
    padding-top:20px;
    font-size:20px;
}
.contactphone a{
    
    color: rgb(251, 176, 59);
    
}
.contactemail{
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color: black;
    padding-top:20px;
    font-size:20px;
}
.contactemail a{
    
    color: rgb(251, 176, 59);
    
}
footer{
    margin-top:50px;
    height:auto;
    background: rgb(5, 6, 26);
}
.footerlogo{
    margin-bottom:40px;
    margin-top:40px;
    width:175px;
    border: solid 1px white;
    border-radius:50%;
}
.northridge{
    margin-top:100px;
    color:white;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
}
.footerphoneemail{
    color: rgb(251, 176, 59);

}
.footerphoneemail a{
    color: white;

}



.footercontact{
    margin-top:100px;
    font-size:18px;
}


.vertical-nav{
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size:30px;
    /* background:black; */
    
}

.vertical-nav-link{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    
}

.vertical-nav-link:hover{
    color: rgb(251, 176, 59);
    border-left: solid 2px white;
    padding-left:30px;
    text-decoration: none;

}

.no-show{
    display:none;
}
.show{
    display:block;
}
#hori-button{
    display:none;
    z-index: 1000;
    
}

.dots{
    width:50px;

}
.fa-ellipsis-h{
    font-size:40px;
    color: rgb(251, 176, 59);
    margin-top:20px;
   margin-left:21px;
}
.banner2break{
    display:none;
}



/* medium */
@media (max-width: 991.98px) { 
    .bannerlogo{
        padding-top:200px;
    }
    #navbar2{
        display:block;
        position:fixed;
    }
    #navbar{
        display:none;
    }
    .hori-nav{
        display:none;
    }
    #hori-button{
        display:block;
        
    
    }

    .banner{
        height:650px;
    }
    .first .boxelement3 {
        margin-top:-150px;
    }
    
    .fa-home{
        font-size:45px;
 
    }
    .bannerpt2{
        height:110px;
        
    }
    .vl{
        display:none;
    }
    .banner2break{
        display:block;
    }
    .bannerpt2email{
        font-size:22px;
    }
    .aboutusdescript{
        font-size:12px;
        
    }
    .stripe{
        display:none;
    }
    .portimg1:hover{
        
        opacity: .3;
    }
    .portimg2:hover{
        
        opacity: .3;
    }
    .portimg3:hover{
        
        opacity: .3;
    }

 }

/* smaller */
@media (max-width: 767.98px) { 
    .bannerlogo{
        width:300px;
    }
    .first .boxelement3 {
        margin-top:2px;
        margin-bottom:150px;
    }
    .third{
        margin-top:2px;
    }
    .aboutusdescript{
        font-size:18px;
        padding:50px 50px 20px 50px;

        text-align: center;
    }
    .contactemail{
        font-size:18px;
    }
    .contactdescript{
        text-align: center;
    }
    footer{
        text-align:center;
    }
    .northridge{
        padding:0;
        margin:0;
        margin-top:30px;
    }
    .footercontact{
        padding:0;
        margin:30px 0 30px 0;
        
    }
    .footerlogo{
        margin-bottom:10px;
        margin-top:40px;
        width:175px;
        border: solid 1px white;
        border-radius:50%;
    }

    
 }


 /* ANIMATIONS :)  */

 
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromRight {
    from {
      transform: translate(250px);
    }
    to {
      transform: translate(0px);
    }
  }


  @keyframes slideFromLeft {
    from {
      transform: translate(-250px);
    }
    to {
      transform: translate(0px);
    }
  }